@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: hsl(185, 75%, 39%);
    z-index: -2;
    overflow: hidden;
}

.container::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    background: url(../images/bg-pattern-bottom.svg);
    background-size: 200%;
    z-index: -1;
}

.container::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background: url(../images/bg-pattern-bottom.svg);
    background-size: 200%;
    transform: rotate(180deg);
    z-index: -1;
}

.card {
    width: 320px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 5px 10px 20px #00000080;
}

.top {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    background: url(../images/bg-pattern-card.svg);
    background-size: cover;
}

.box {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    top: -20%;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box::after,
.box::before {
    padding: 0;
    margin: 0;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    animation: rotate 10s linear infinite;
    background: conic-gradient(from var(--rotate), purple, aqua, purple, aqua, purple);
}

.box::before {
    filter: blur(2rem);
}

/* .box::after {
    z-index: 1;
    background: repeating-conic-gradient(from calc(var(--rotate) + 0deg), purple 0%, purple 5%, transparent 5%, transparent 40%, purple 50%),
        repeating-conic-gradient(from calc(var(--rotate) + 90deg), aqua 0%, aqua 5%, transparent 5%, transparent 40%, aqua 50%);
} */

@keyframes rotate {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.img {
    position: absolute;
    /* border: 2px solid chartreuse; */
    z-index: 10;
    inset: 5px;
    border-radius: inherit;
    background: url(../images/image-victor.jpg);
    background-size: cover;
}

.bott {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.bott > h1 {
    margin-top: 40px;
    font-size: 1.8rem;
}

h1 span {
    margin-left: 10px;
    color: #777;
}

.bott > p {
    color: #777;
    font-size: 700;
}

.desc {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    position: relative;
}

.desc::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: #aaa;
    top: -25px;
}

.desc h1 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #000;
}

.desc p {
    font-size: 13px;
}

@media (min-width: 500px) {
    .container::after,
    .container::before {
        width: 700px;
        height: 400px;
        background-size: cover;
    }

    .container::before {
        top: -150px;
    }

    .container::after {
        bottom: -150px;
        background-position: center top;
    }
}
